.body {
    margin: 0;
    background: #222;
    font-family: 'Playfair Display', serif;
    font-weight: 300;
}

.container {
    width: 80%;
    margin: 0 auto;
    font-family: 'Playfair Display', serif;
}

.header {
    background: #222;
}

nav {
    float: right;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    display: inline-block;
    margin-left: 70px;
    padding-top: 25px;

    position: relative;
}

nav a {
    color: #444;
    text-decoration: none;
}

nav a:hover {
    color: beige;
}

html {
    background-color: rgb(134, 131, 131);
}

nav a::before {
    content: '';
    display: block;
    height: 5px;
    background-color: antiquewhite;
    position: absolute;
    width: 0%;
    top: 0;
    
    transition: all ease-in-out 250ms;
    
}

nav a:hover::before {
    width: 100%;
}

.smiths {
    float: right;
    border: solid #222;
    border-radius: 10px;
}

img {
    float: none;
    border: solid #222;
    border-radius: 10px;
}

figcaption {
    text-align: center;
    text-decoration: underline;
}

p {
    columns: 1;
    text-align: right;
}

